@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: purple;
  }
} */

.nav-item {
  @apply w-5 h-5 fill-slate-600 group-hover:fill-slate-800;
}

.nav-button {
  @apply p-2;
}

.title-text {
  @apply font-medium text-blue-800 text-5xl mt-2 lg:text-7xl 2xl:text-8xl;
}
